################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JardinMisPrimerasLetras/v16/Server/sqlite3
/JardinMisPrimerasLetras/obj/Debug
/.vs/JardinMisPrimerasLetras/DesignTimeBuild
